<html>  
<head>
	<meta charset="utf-8" />
	<title>Expression libre</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body id="about">

<h1>A propos</h1>

<div id="texte_about">
	<p>Expression libre est une application en cours de développement, grâce au soutien de <a href="http://simplon.co/">Simplon</a>.</p>
	<p>Cette page est un lieu de liberté et d'anonymat total. Aucune donnée personnelle n'est enregistrée ou conservée, à l'exception des adresses mails laissées volontairement.</p>

	<p>Techniquement, cette application a été réalisée avec NodeJS, un framework Javascript. Le code est open source, vous pouvez le trouver <a href="https://github.com/JoueAvecMoi/Landing">ici</a>. Ce projet est actuellement en version alpha, il est encore loin de fonctionner correctement.</p>

	<p>Toute remarque concernant le code ou n'importe quel autre sujet est la bienvenue. Le formulaire de <a href="/feedback">feedback</a> est justement prévu pour vous permettre de donner votre avis.</p>

	<p>Si la démarche vous intéresse, vous pouvez suivre ses évolutions en indiquant vos coordonnées ci-dessous.</p>

	<%- include mailchimpForm2.ejs %>
</div>

<div class="lien_retour_about">
	<a href="http://expressionlib.re" target="_self">Retour sur la page principale</a>
</div>

</body>

</html>