<html>  
<head>
	<meta charset="utf-8" />
	<title>JoueAvecMoi.fr</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body id="about">

<h1>A propos</h1>

<div id="texte_about">
	<p>Expressionlibre.io est une application en cours de développement. Ce projet est porté avec le soutien de <a href="http://simplon.co/">Simplon</a>. Cette page est un lieu de liberté et d'anonymat total. Aucune donnée personnelle n'est enregistrée.</p> 

	<p>Techniquement, cette application a été réalisée en Javascript, grâce au framework NodeJS. Le code est open source, vous pouvez le trouver <a href="https://github.com/JoueAvecMoi/Landing">ici</a>. Toute remarque à ce sujet est la bienvenue.</p>

	<p>Si la démarche vous intéresse, vous pouvez suivre ses évolutions en indiquant vos coordonnées ci-dessous.</p>

	<%- include mailchimpForm2.ejs %>
</div>

<div class="lien_retour_about">
	<a href="http://www.joueavecmoi.fr" target="_self">Retour sur la page principale</a>
</div>

</body>

</html>