<html>  
<head>
	<meta charset="utf-8" />
	<title>Expression libre</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body id="about">

<div id="texte_about">
	<p>Expression libre est une application en cours de développement, un projet soutenu par <a href="http://simplon.co/">Simplon</a>. Cette page est un lieu de liberté et d'anonymat total. Aucune donnée personnelle n'est conservée.</p>

	<p>Vous pouvez le vérifier : le code est open source et disponible <a href="https://github.com/JoueAvecMoi/Expressionlibre">ici</a>. Ce projet est actuellement en version alpha. Pour signaler un bug, faire une remarque ou une proposition, utilisez ce formulaire de <a href="/feedback">feedback</a>.</p>

	<p>Si la démarche vous intéresse, vous pouvez suivre ses évolutions en indiquant votre email ci-dessous.</p>

	<%- include mailchimpForm2.ejs %>
</div>

<div class="lien_retour_about">
	<a href="http://expressionlib.re" target="_self">Retour sur la page principale</a>
</div>

</body>

</html>