<html>  
<head>
	<meta charset="utf-8" />
	<title>JoueAvecMoi.fr</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>

<h1>A propos</h1>
<p>Joue avec moi est une application en cours de développement. Ce projet est fièrement porté avec le soutien de la communauté de Simplon.

Cette landing page est un lieu de liberté et d'anonymat total. L'utilisation qui sera faite de cette page est donc totalement imprévisible, l'expérience devrait être assez amusante. 

Cette page a été réalisée en Javascript, grâce au framework NodeJS. Le code est open-source, vous pouvez le trouver ici. Toute remarque / aide à ce sujet est la bienvenue.</p> 

<!-- site en open source : nettoyer repos ou créer compte github JAM-->

<!-- Licence GNU ? -->


</body>

</html>