<html>  
<head>
	<meta charset="utf-8" />
	<title>JoueAvecMoi.fr</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body id="feedback">

<form action="/feedback", method="POST">
	
    <h1>Feedback</h1>
    <p>Toute remarque est la bienvenue !</p></br>
    
    <p><input type="email" id="emailFeedback" name="emailFeedback" placeholder="Votre adresse mail" /></p>
    <p><textarea id="messageFeedback" name="messageFeedback" placeholder="Votre message"></textarea></p>
    <p><button type="submit" value="Send" name="submitFeedback" id="submitFeedback">Envoyer</button></p>
    	
</form>

<div class="lien_retour_about">
    <a href="http://www.joueavecmoi.fr" target="_self">Retour sur la page précédente</a>
</div>

</body>

</html>