<html>

	<head>
		<meta charset="utf-8" />
       	<title>JoueAvecMoi.fr</title>
       	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head> 

	<body onmousemove="positionSouris(event);deuxiemeCurseur(event)">

       <img src="/static/images/LogoJamBasic.png" alt="logo joue avec moi">

       <div id="cloneCurseur" style="position:absolute; z-index:10; width:19px; height:24px"></div>

       <div id="divPosition"
		   style="width:240px; height:100px; padding:10px; margin-left:50px;">
	   </div> 

	   <div id="divPosition2"
		   style="width:240px; height:100px; padding:10px; margin-left:50px;">
	   </div> 
       
       <!-- Begin MailChimp Signup Form -->

			<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
			<style type="text/css">
				#mc_embed_signup{background:none; clear:left; font:14px Helvetica,Arial,sans-serif; }
				/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
			<div id="mc_embed_signup">
			<form action="http://lnkd.us8.list-manage1.com/subscribe/post?u=47c7269a7d86e6707c240c159&amp;id=d6de89fe1d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder=" Saisir votre addresse mail pour rester informé(e)" required>
			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;"><input type="text" name="b_47c7269a7d86e6707c240c159_d6de89fe1d" value=""></div>
				<div class="clear"><input type="submit" value="Valider" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</form>
			</div>

		<!--End mc_embed_signup-->

		<script type="text/javascript">

			cible = document.getElementsByTagName('body')[0];
			cible.addEventListener('mousemove', positionSouris, false);

	    	function positionSouris(event) {

			   var posX;
			   var posY;
			   posX = event.clientX;
			   posY = event.clientY;
			   document.getElementById('divPosition').innerHTML =
			            'Coordonnées de la souris :<br/>X = ' + posX + '<br />Y = ' + posY;
			   return posX;
			   return posY;}

			function deuxiemeCurseur(event) {

			   var posX;
			   var posY;
			   var posX2;
			   posX = event.clientX;
			   posY = event.clientY;
			   posX2 = posX + 200;

			   var img = document.createElement("img");
			   img.src = "/static/images/curseur.png";

			   var target = document.getElementById('cloneCurseur');
			   target.appendChild(img);
			   target.style.left = posX2;
			   target.style.top = posY;

			   document.getElementById('divPosition2').innerHTML =
			            'Coordonnées du 2e curseur:<br/>X = ' + posX2 + '<br />Y = ' + posY;
			   return posX2;
			}
		</script>

    </body>
</html>