<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Expression libre</title>

	<meta name="og:type" content="website" />
	<meta name="og:image" content="/static/images/thumbFbk.jpg"/>
	<meta name="og:url" content="http://expressionlib.re/" />
	<meta name="og:title" content="Expression libre" />
	<meta name="og:description" content="Un lieu de liberté et d'anonymat total. Aucune donnée personnelle n'est conservée. Exprimez-vous :)" />

	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
</head>

<body>

	<div id="windowSetter"></div>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=503041236463802&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<script>
		!function(d,s,id){
			var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
			if(!d.getElementById(id)){
				js=d.createElement(s);
				js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
				fjs.parentNode.insertBefore(js,fjs);}
		}
		(document, 'script', 'twitter-wjs');
	</script>

	<div id="sidebar">

		<h1 id='logo'>Expression Libre</h1>

		<p class="texte_sidebar">Cliquez</p>

		<p class="texte_sidebar">Exprimez-vous</p>
		</br>

		<div class="lien_about" >
			<a href="#" data-width="500" data-rel="about" class="boutonAbout poplight">En savoir plus</a>		
		</div>

		<div id="social">
			<div class="fb-share-button" data-href="http://expressionlib.re" data-type="button"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="Liberté totale ! #expressionlibre " data-lang="fr" data-count="none">Tweeter</a>
		</div>

	</div>
	
	<div id="zone_de_jeu">
	
		<div id="compteur">
			<p><span id="compteurVal"></span> connecté<span id="pluriel">s</span></p> 
		</div>
		
		<div id="cursors">
			<!-- les curseurs sont créés ici -->
		</div>

		<div id="messages">
			<!-- les messages sont créés ici -->
		</div>
		
		<form id="saisie_texte" style="display:none;width:265px">
			<input type="text" id="champ_saisie" maxlength="40">
			<input type="submit" value="OK" class="ok">
		</form>
	</div>

	<div id='lienFeedback'>
		<a href="#" data-width="500" data-rel="feedback" class="boutonFeedback poplight">Feedback</a>		
	</div>	

	<div id="about" class="popup_block">
		<div id="texte_about">

			<p>Cette application est un lieu de liberté et d'anonymat. Aucune donnée personnelle n'est utilisée. Vous pouvez le vérifier : le code est <a href="https://github.com/JoueAvecMoi/Expressionlibre">open source</a>.</p>

			<p>Vous êtes en train de tester une version beta. Pour aider l'application à s'améliorer, vous pouvez donnez votre avis en cliquant sur feedback, en bas à droite.</p>

			<p>N'hésitez pas à utiliser cette page au maximum :) Aucune raison d'être timide ici : Personne ne sait que c'est vous.</p>
			
			<p id="signature">Rémy Maucourt</br><a href="http://www.linkedin.com/pub/r%C3%A9my-maucourt/18/48b/8b6">Linkedin</a> <a href="http://twitter.com/hi_gg">Twitter</a></br><a href="http://simplon.co/">Simplon#1</a></p>
		</div>
	</div>

	<div id="feedback" class="popup_block">
		<form action="/", method="POST">
		    <p>Donnez votre avis !</p>    
		    <p><input type="email" id="emailFeedback" name="emailFeedback" placeholder="Votre adresse mail" /></p>
		    <p><textarea id="messageFeedback" name="messageFeedback" placeholder="Votre message"></textarea></p>
		    <p><input type="submit" value="Envoyer" name="submitFeedback" id="submitFeedback" class="ok"></p>
 		</form>
	</div>

	<div id="mobileWarning">

		<h1 id='logo'>Expression Libre</h1>

		<p>Le design de ce site n'est pas encore optimal pour une utilisation sur un téléphone, l'expérience n'est satisfaisante que sur un écran d'ordinateur.</p></br>

		<p>Sur certains téléphones (comme le mien) un premier contact sur la surface claire permet de rétablir un semblant d'interface.</p></br>

		<div class="lien_about" id="warning" >
			<div class="boutonAbout">Bien reçu</div>		
		</div>
		
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="/static/js/client.js"></script>

</body>

</html>