<html>  
<head>
	<meta charset="utf-8" />
	<title>JoueAvecMoi.fr</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
	<div id="sidebar">

		<div id="logo">
			<img src="/static/images/LogoJamBasic.png" alt="logo joue avec moi">
			<h1>Joue Avec Moi</h1>
		</div>

		<h2>De nouveaux outils pour </br>faciliter la séduction</h2>

		<p>Le site est en cours de développement.</br></br>En attendant, vous pouvez écrire sur le mur :)</p>

		<%- include mailchimpForm.ejs %>

	</div>
	
	<div id="zone_de_jeu">
		<canvas id="paper"></canvas>

		<div id="compteur">
			<p><%=connectCounter%> connectés</p> 
		</div>

		<div id="cursors">
			<!-- les curseurs sont créés ici -->
		</div>

		<div id="messages">
			<!-- les messages sont créés ici -->
		</div>
		
		<form id="saisie_texte" style="display:none;">
			<input type="text" id="champ_saisie" placeholder="">
			<input type="submit" value="OK">
		</form>
	
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
	<script src="/static/js/client.js"></script>
	<script>
		
	</script>
</body>
</html>
