<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Expression libre</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
</head>

<body>

	<div id="windowSetter"></div>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=503041236463802&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<script>
		!function(d,s,id){
			var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
			if(!d.getElementById(id)){
				js=d.createElement(s);
				js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
				fjs.parentNode.insertBefore(js,fjs);}
		}
		(document, 'script', 'twitter-wjs');
	</script>

	<div id="sidebar">

		<h1 id='logo'>Expression Libre</h1>

		<p class="texte_sidebar">Cliquez</p>

		<p class="texte_sidebar">Exprimez-vous</p>
		</br>

		<div class="lien_about" >
			<a href="#?w=500" rel="about" class="boutonAbout poplight">En savoir plus</a>		
		</div>

		<div id="social">
			<div class="fb-share-button" data-href="http://expressionlib.re" data-type="button"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="Un peu de liberté" data-lang="fr" data-count="none">Tweeter</a>
		</div>



		
	</div>
	
	<div id="zone_de_jeu">
	
		<div id="compteur">
			<p><span id="compteurVal"></span> connectés</p> 
		</div>
		
		<div id="cursors">
			<!-- les curseurs sont créés ici -->
		</div>

		<div id="messages">
			<!-- les messages sont créés ici -->
		</div>
		
		<form id="saisie_texte" style="display:none;width:265px">
			<input type="text" id="champ_saisie" maxlength="40">
			<input type="submit" value="OK">
		</form>
	</div>

	<div id='lienFeedback'>
		<a href="/feedback" class="boutonFeedback">Feedback</a>
	</div>	
		<div id="about" class="popup_block">
			<div id="texte_about">

				<p>Expression libre est une application en cours de développement, un projet soutenu par <a href="http://simplon.co/">Simplon</a>. Cette page est un lieu de liberté et d'anonymat total. Aucune donnée personnelle n'est conservée.</p>

				<p>Vous pouvez le vérifier : le code est open source et disponible <a href="https://github.com/JoueAvecMoi/Expressionlibre">ici</a>. Ce projet est actuellement en version alpha. Pour signaler un bug, faire une remarque ou une proposition, utilisez ce formulaire de <a href="/feedback">feedback</a>.</p>

				<p>Si la démarche vous intéresse, vous pouvez suivre ses évolutions en indiquant votre email ci-dessous.</p>

				<%- include mailchimpForm2.ejs %>

			</div>
		</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.8.0.js"></script>
	<script src="/static/js/client.js"></script>

</body>

</html>