<div id="mobileWarning">

	<h1 id='logo'>Expression Libre</h1>

	<p class="texte_sidebar">Ce site n'est pas conçu pour etre utilisé sur un téléphone, l'expérience n'est réellement intéressante que sur un écran d'ordinateur.</p>

	<p class="texte_sidebar">Cette situation devrait évoluer, mais en attendant, n'hésitez pas à essayer ExpressionLibre sur votre ordinateur.</p>

	<p class="texte_sidebar">Avec toutes mes excuses.</p>

	</br>

	<div class="lien_about" >
		<a href="/home" class="boutonAbout">Page principale</a>		
	</div>
	
</div>