body
  background-image:url("/static/images/redBackground.jpg")
  background-repeat:no-repeat
  background-size: 100%

#logo
  margin-top 50px
  margin-left 50px

#paper
  z-index -1
  position fixed
  top 0
  left 0

#cursors .cursor
	position:absolute
	width:19px
	height:24px
	background:url("/static/images/curseur.png") no-repeat

#texte1
  margin-top 20px
  margin-left 70px

/*styles pour le formulaire mailchimp*/

#mc-embedded-subscribe
  background-color crimson !important
  display inline-block !important
  width 50px !important

#mc_embed_signup .button
  border-radius:0px !important


#mce-EMAIL 
  display inline-block !important
  width 500px !important
  margin-right-value: none

#mc_embed_signup
  margin-top 200px
  margin-left 350px
  z-index 2