body
  width 2600px
  height 1600px
  background url("/static/images/texture.png") repeat
  margin 0

@font-face
  font-family 'Oxygen', sans-serif
  font-family 'Courgette', cursive

p
  font-family 'Oxygen', sans-serif

#windowSetter
  position absolute
  left 650px
  top 450px

.ok
  background-color #E6E6FA
  border 1px solid silver
  height 30px

/* sidebar */

#sidebar
  position fixed
  margin-top 2%
  margin-left 2%
  background url("/static/images/texture_dark.png") repeat
  height 270px
  float left
  width 280px
  padding 0 1% 0 1%
  z-index 10

  @media all and (max-device-width: 480px)
    width 100%
    margin-top 0
    margin-left 0
    padding 0
    height 200px

  /* texture sidebar : Twinkle Twinkle from Subtle Patterns */

#sidebar br
  @media all and (max-device-width: 480px)
    display none

#sidebar p
  color white
  text-align center
  
#logo
  text-align center
  margin-top 15px
  color white
  font-family 'Courgette', cursive  
  @media all and (max-device-width: 480px)
    font-size 2em

#social
  text-align center
  margin-top 20px

  @media all and (max-device-width: 480px)
    display none

.fb-share-button
  vertical-align top

/* zone d'expression */

#zone_de_jeu
  position absolute
  top 0
  left 0
  width 2600px
  height 1600px
  overflow hidden
  background url("/static/images/texture.png") repeat
  z-index 1

  /* texture principale : Halftone from Subtle Patterns */

#compteur
  width 110px
  position fixed
  right 2%
  margin-top 2%
  text-align center
  background-color #E6E6FA
  border 1px solid silver
  padding-right 10px
  padding-left 10px
  z-index 10

  @media all and (max-device-width: 480px)
    position fixed
    bottom 0
    left 0
    height 31px
    margin-top 0

#compteur p
  @media all and (max-device-width: 480px)
    margin auto
    padding-top 4px

#saisie_texte
  position absolute

#champ_saisie
  border 1px solid silver
  padding 5px
  height 18px

#messages .message
  position absolute
  font-family 'Oxygen', sans-serif
  font-size 1em

#cursors .cursor
  position absolute
  width 19px
  height 24px
  background:url("/static/images/curseur.png") no-repeat

/*modal */

#fade
  display: none
  background: #000
  position: fixed; left: 0; top: 0
  width: 100%; height: 100%
  opacity: .80
  z-index: 9999

.popup_block
  display: none
  background: #fff
  padding: 20px
  border: 5px solid #E6E6FA
  float: left
  font-size: 1em
  position: fixed
  top: 50%; left: 50%
  z-index: 99999
  -webkit-box-shadow: 0px 0px 20px #000
  -moz-box-shadow: 0px 0px 20px #000
  box-shadow: 0px 0px 20px #000

img.btn_close
  float: right
  margin: -15px -15px 0 0

/*modal about*/

#about
  width 100%
  font-family 'Oxygen', sans-serif

#texte_about
  margin 10% auto 30px auto
  width 90%
  max-width 700px

.lien_about
  width 40%
  margin auto
  font-family: 'Oxygen', sans-serif
  margin-bottom 10px
  background-color white
  border: 1px solid grey
  padding 5px 10px 5px 10px

a.boutonAbout
  font-family 'Oxygen', sans-serif
  text-decoration none
  color black
  padding 0px 5px 0px 5px

#signature
  text-align right
  margin-top 30px

/*formulaire mailchimp page about*/

#mc-embedded-subscribe-form2
  height 30px

#mc_embed_signup2
  text-align center
  margin-top 30px

#mce-EMAIL2
  display inline-block !important
  width 40%
  border 1px solid silver
  padding 5px
  height 18px
  font-family: 'Oxygen', sans-serif

  @media all and (max-device-width: 480px)
    width 60%

#mc-embedded-subscribe2
  display inline-block !important
  vertical-align top

/* modal feedback */

#feedback
  width 100%
  text-align center
  font-family: 'Oxygen', sans-serif

#emailFeedback
  width 80%
  margin-top 3%
  border 1px solid silver
  padding 5px
  height 18px
  font-family: 'Oxygen', sans-serif

  @media all and (max-device-width: 480px)
    width 90%

#messageFeedback
  width 80%
  height 100px
  border 1px solid silver
  padding 5px
  font-family: 'Oxygen', sans-serif
  font-size 1em

  @media all and (max-device-width: 480px)
    width 90%

#lienFeedback
  position fixed
  bottom 0
  right 2%
  z-index 10
  background-color silver
  border-top 1px solid #A9A9A9
  border-left 1px solid #A9A9A9
  border-right 1px solid #A9A9A9
  padding 5px 10px 5px 10px

  @media all and (max-device-width: 480px)
    position fixed 
    right 0

a.boutonFeedback
  font-family 'Oxygen', sans-serif
  text-decoration none
  color black

/* message d'excuses supports mobiles */

#mobileWarning
  background url("/static/images/texture_dark.png") repeat
  position fixed
  height 100%
  width 100%
  display none
  z-index 50

  @media all and (max-device-width: 480px)
    display block

#mobileWarning p
  width 90%
  color white
  text-align center
  margin auto

#mobileWarning h1
  margin-top 5%
  margin-left auto
  margin-right auto