body
  background-image:url("/static/images/greenBackground.png")
  background-repeat:no-repeat
  background-size: 100%

body h1 
  font: 35px Coolvetica, Helvetica, Arial, sans-serif
  margin-top 50px
  margin-left 50px