body {
  width: 100%;
  margin: 0;
}
@font-face {
  font-family: 'Oxygen', sans-serif;
}
#conteneur_logo {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  margin-top: 50px;
}
h2 {
  font-size: 1.1em;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  margin-bottom: 100px;
  color: #fff;
}
p {
  font-family: 'Oxygen', sans-serif;
}
#sidebar p {
  color: #fff;
}
.message {
  font-family: 'Courgette', cursive;
  font-size: 1.2em;
}
#zone_de_jeu {
  float: left;
  background: url("/static/images/texture.png") repeat;
  width: 75%;
  height: 100%;
}
#paper {
  width: 75%;
  height: 100%;
  position: absolute;
}
#sidebar {
  left: 0;
  background-color: #303334;
  height: 100%;
  float: left;
  width: 23%;
  padding: 0 1% 0 1%;
}
#about {
  background: url("/static/images/texture.png") repeat;
}
#saisie_texte {
  position: absolute;
}
#compteur {
  float: right;
  margin-right: 5%;
  margin-top: 2%;
}
#messages .message {
  position: absolute;
}
#cursors .cursor {
  position: absolute;
  width: 19px;
  height: 24px;
  background: url("/static/images/curseur.png") no-repeat;
}
#texte_about {
  margin-top: 50px;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 30px;
}
.lien_about {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
.lien_about a {
  color: #808080;
}
.lien_retour_about {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#feedback {
  background: url("/static/images/texture.png") repeat;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#emailFeedback {
  width: 30%;
}
#messageFeedback {
  width: 30%;
  height: 25%;
}
#lienFeedback {
  margin-left: 20px;
}
/*styles pour le formulaire mailchimp principal*/
#mc-embedded-subscribe {
  display: inline-block !important;
  background-color: #dc143c !important;
  width: 10% !important;
}
#mc_embed_signup .button {
  border-radius: 0px !important;
  height: 38px !important;
  margin-top: 1px !important;
}
#mc-embedded-subscribe-form {
  padding: 0 0 0 0 !important;
}
#mce-EMAIL {
  display: inline-block !important;
  width: 60% !important;
}
#mc_embed_signup {
  margin-top: 90px;
  width: 100%;
}
/*styles pour le formulaire mailchimp page about*/
#mc_embed_signup2 {
  text-align: center;
  margin-top: 30px;
}
#mce-EMAIL2 {
  display: inline-block !important;
  width: 40%;
}
#mc-embedded-subscribe2 {
  display: inline-block !important;
}
