body {
  background-image: url("/static/images/greenBackground.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
body #mainLogo {
  margin-top: 50px;
  margin-left: 50px;
}
/*styles pour le formulaire mailchimp*/
#mc-embedded-subscribe {
  background-color: #008000 !important;
  display: inline-block !important;
  width: 50px !important;
}
#mce-EMAIL {
  display: inline-block !important;
  width: 500px !important;
}
#mc_embed_signup {
  margin-top: 150px;
  margin-left: 350px;
}
