body {
  width: 100%;
  margin: 0;
}
h1 {
  display: none;
}
h2 {
  font-size: 1.1em;
}
#zone_de_jeu {
  float: left;
  background-color: #f6f1e2;
  width: 75%;
  height: 100%;
}
#paper {
  width: 75%;
  height: 100%;
  position: absolute;
}
#sidebar {
  left: 0;
  background-color: #808080;
  height: 100%;
  float: left;
  width: 25%;
}
#saisie_texte {
  position: absolute;
}
#compteur {
  float: right;
  margin-right: 5%;
}
#messages .message {
  position: absolute;
}
#cursors .cursor {
  position: absolute;
  width: 19px;
  height: 24px;
  background: url("/static/images/curseur.png") no-repeat;
}
/*styles pour le formulaire mailchimp*/
#mc-embedded-subscribe {
  background-color: #dc143c !important;
  width: 80% !important;
  margin-left: 10% !important;
}
#mc_embed_signup .button {
  border-radius: 0px !important;
  height: 38px !important;
  margin-top: 1px !important;
}
#mc-embedded-subscribe-form {
  padding: 0 0 0 0 !important;
}
#mce-EMAIL {
  display: inline-block !important;
  width: 80% !important;
  margin-left: 10% !important;
}
#mc_embed_signup {
  margin-top: 250px;
  width: 100%;
}
